@page "/peoplelist"
@inject IPeopleService PeopleService
@inject HttpClient Http
<h3>List of all registered people:</h3>
<h2>@this.testField</h2>
<button @onclick="TogglePeopleList" class="@darkButton">Click to Show/Hide people info</button>

<input type="text" @bind-value="this.testField" @bind-value:event="oninput" />
<button @onclick="ChangeFirstPersonName">Change first person name</button>

<button @onclick="ChangeInputFieldValue">Reset</button>

@if (visibleData)
{
    <ul>
        @foreach (var person in people)
        {
            <PersonCard Person="@person"></PersonCard>
        }
    </ul>
}

@code { 
    List<Person> people;
    bool visibleData = false;
    string darkButton = "btn btn-dark";
    string testField = "";

    protected override void OnInitialized()
    {
        people = PeopleService.GetPeople().ToList();
    }

    void TogglePeopleList()
    {
        visibleData = !visibleData;
    }

    void ChangeInputFieldValue()
    {
        this.testField = "Please enter new name";
    }

    void ChangeFirstPersonName()
    {
        this.people[0].FirstName = this.testField;
    }
}
