<div>
    <audio controls class="w-100">
        <source src="https://res.cloudinary.com/dbfb4iufu/video/upload/v1565701188/music/Michael_Jackson_-_Billie_Jean_Official_Music_Video_wjyoqc.mp3" type="audio/ogg">
    </audio>
</div>
